title: "Arnon on Technology"
author: "Arnon Erba"
description: "The assorted thoughts of a career sysadmin."
remote_theme: "jekyll/minima"
defaults:
  -
    scope:
      type: "posts"
    values:
      layout: "post"
    scope:
      path: ""
    values:
      author: "Arnon Erba"
