<script src="https://giscus.app/client.js"
        data-repo="arnonerba/blog"
        data-repo-id="R_kgDOQwxIaw"
        data-category="Comments"
        data-category-id="DIC_kwDOQwxIa84C1Tn2"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<noscript>
  Please enable JavaScript to view the comments on this post.
</noscript>
