// Custom styles for the jekyll/minima theme.

hr {
  border: 0;
  border-bottom: 1px solid $border-color-01;
}

.post-list > li {
  padding-top: 18px;
  border-top: 1px solid $border-color-01;
}

.post-meta .bullet-divider {
  padding-inline: 5px;
}

.giscus {
  padding: $spacing-unit 0;
  border-top: 1px solid $border-color-01;
}
